@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudThemeProvider DefaultScrollbar="true" IsDarkMode="@isDarkMode" Theme="@Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudScrollbar Color="info" HoverColor="primary" TrackColor="#27272f30" Width="12" />
<MudTypographyProvider />

<div style="background-image: url(/img/Cloudy.svg); background-position: center; background-size: cover; height: 100vh; left: 0; overflow: hidden; opacity: .15; position: fixed; top: 0; width: 100vw; z-index: -10;"></div>

<MudLayout>
    <MudAppBar Fixed>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="HandleMainMenuOnClick" />
        <MudImage Src="/img/PlumbBuddyLogo.svg" Elevation="2" Width="48" Height="48" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" />
        <MudSpacer />
        <MudTooltip Text="Download" Color="Color.Success" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.Download" Color="Color.Success" Href="/download" />
        </MudTooltip>
        <MudTooltip Text="Features" Color="Color.Primary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.FeatureSearch" Color="Color.Primary" Href="/features" />
        </MudTooltip>
        <MudTooltip Text="Source Code" Color="Color.Secondary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.SourceRepository" Color="Color.Secondary" Href="https://github.com/Llama-Logic" Target="_blank" />
        </MudTooltip>
        <MudTooltip Text="Community Services" Color="Color.Tertiary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.Offer" Color="Color.Tertiary" Href="/community-services" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@isDrawerOpen" Class="overflow-x-hidden">
        <MainMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="relative" style="height: calc(100vh - 88px);">
            @Body
            <br />
            <br />
            <br />
            <MudPaper Elevation="5" Class="fixed pa-0" Style="left: 0; right: 0; bottom: 0; margin: 0 auto;">
                <MudDivider Class="mb-2" />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Center" Style="white-space: nowrap;">This site is neither affiliated with nor endorsed by<wbr /> Maxis or Electronic Arts, Inc.</MudTextM3>
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Center"><MudLink Typo="Typo.caption" Href="https://help.ea.com/en-gb/help/the-sims/the-sims-4/mods-and-the-sims-4-game-updates/" Target="_blank">EA Custom Content Policy</MudLink> • <MudLink Typo="Typo.caption" Href="https://www.ea.com/games/the-sims/the-sims-4/download" Target="_blank">Play The Sims 4 for Free!</MudLink></MudTextM3>
            </MudPaper>
        </div>
    </MudMainContent>
</MudLayout>
