@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudThemeProvider DefaultScrollbar="true" IsDarkMode="@isDarkMode" Theme="@Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudScrollbar Color="info" HoverColor="primary" TrackColor="#27272f30" Width="12" />
<MudTypographyProvider />

<div style="background-image: url(/img/Cloudy.svg); background-position: center; background-size: cover; height: 100vh; left: 0; overflow: hidden; opacity: .15; position: fixed; top: 0; width: 100vw; z-index: -10;"></div>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="HandleMainMenuOnClick" />
        <MudImage Src="/img/PlumbBuddyLogo.svg" Elevation="2" Width="48" Height="48" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" />
        <MudSpacer />
        <MudTooltip Text="Download" Color="Color.Success" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.Download" Color="Color.Success" Href="/download" />
        </MudTooltip>
        <MudTooltip Text="Features" Color="Color.Primary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.FeatureSearch" Color="Color.Primary" Href="/features" />
        </MudTooltip>
        <MudTooltip Text="Source Code" Color="Color.Secondary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.SourceRepository" Color="Color.Secondary" Href="https://github.com/Llama-Logic" Target="_blank" />
        </MudTooltip>
        <MudTooltip Text="Community Services" Color="Color.Tertiary" Arrow>
            <MudIconButton Icon="@MaterialDesignIcons.Normal.Offer" Color="Color.Tertiary" Href="/community-services" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@isDrawerOpen" Class="overflow-x-hidden">
        <MainMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
