@page "/"

<PageTitle>PlumbBuddy</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    <MudCarousel TData="object" AutoCycle EnableSwipeGesture ShowArrows ShowBullets Class="mud-width-full rounded" Style="height: calc(100vh - 210px);">
        <MudCarouselItem Color="Color.Success">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
        <MudCarouselItem Color="Color.Primary">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
        <MudCarouselItem Color="Color.Tertiary">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
    </MudCarousel>
    <MudGrid Justify="Justify.Center" Spacing="4" Class="align-center mt-n1">
        <MudHidden Breakpoint="Breakpoint.MdAndDown">
            <MudItem>
                <MudAlert Icon="@MaterialDesignIcons.Normal.Application">Current version: <strong>@currentVersion</strong></MudAlert>
            </MudItem>
            <MudItem>
                <MudAlert Severity="Severity.Warning">Lifecycle stage: <strong>Alpha</strong></MudAlert>
            </MudItem>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert>
            <MudItem>
                <MudAlert Icon="@MaterialDesignIcons.Normal.Application"><strong>@currentVersion</strong></MudAlert>
            </MudItem>
            <MudItem>
                <MudBadge Icon="@MaterialDesignIcons.Normal.Alert" Color="Color.Warning" Origin="Origin.CenterRight" Overlap>
                    <MudIcon Icon="@MaterialDesignIcons.Normal.Alpha" Size="Size.Large" />
                </MudBadge>
            </MudItem>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.LgAndDown">
            <MudItem>
                <MudAlert Severity="Severity.Success">Windows release status: <strong>Okay</strong></MudAlert>
            </MudItem>
            <MudItem>
                <MudAlert Severity="Severity.Success">macOS release status: <strong>Okay</strong></MudAlert>
            </MudItem>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.LgAndDown" Invert>
            <MudItem>
                <MudBadge Icon="@MaterialDesignIcons.Normal.Check" Color="Color.Success" Origin="Origin.CenterRight" Overlap>
                    <MudIcon Icon="@MaterialDesignIcons.Normal.Microsoft" Size="Size.Large" />
                </MudBadge>
            </MudItem>
            <MudItem>
                <MudBadge Icon="@MaterialDesignIcons.Normal.Check" Color="Color.Success" Origin="Origin.CenterRight" Overlap>
                    <MudIcon Icon="@MaterialDesignIcons.Normal.Apple" Size="Size.Large" />
                </MudBadge>
            </MudItem>
        </MudHidden>
    </MudGrid>
</MudContainer>
